MYSQL_USER=mexora_user
MYSQL_PASSWORD=mexora_pass
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307

MEXORA_OLTP_DB=mexora_oltp
MEXORA_DW_DB=mexora_dw

MEXORA_SOURCE_URL=mysql+pymysql://mexora_user:mexora_pass@127.0.0.1:3307/mexora_oltp
MEXORA_DW_URL=mysql+pymysql://mexora_user:mexora_pass@127.0.0.1:3307/mexora_dw

MEXORA_AUTO_START_MYSQL=1
MEXORA_PROJECT_MYSQL_DIR=/tmp/mexora_mysql_project
MEXORA_PROJECT_MYSQL_ROOT_PASSWORD=root123
