.env
.venv/
venv/
env/

__pycache__/
**/__pycache__/
*.pyc
*.pyo

*.sqlite
*.sqlite3
*.db

logs/
*.log

data/generated/*.sqlite
data/processed/*.sqlite

metabase/.metabase_env
metabase/metabase.db
metabase/metabase.log
metabase/metabase.jar

report/*.html
report/*.tmp
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.dvi
